/*----------------------
        common css
------------------------*/
body{
    font-family: 'Poppins', sans-serif;
}
section{
    margin: auto;
    width: 900px;
    display: flex;
    margin-bottom: 50px;
}


/*------------------------------
        Top Heder Section
---------------------------------*/

.top-headers{
    display: flex;
    justify-content: space-between;
}

.para-head{margin-top:50px}

.head h1{
    font-size: 35px;
    font-weight: 900;
}

.head p{
    font-size: 14px;
}

.head button{
    background-color: #E02C6D;
    color: white;
    border: none;
    border-radius: 20px;
    padding:10px 25px;
    font-weight: 800;
}
.head a {text-decoration: none;
color:white;}
.fa-arrow-right{color: white;}

.head img{
    width: 440px;
    height: 414px;
}


/*------------------------------
        Main Grid Section
---------------------------------*/

.pack-boxs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.boxs{
    background-color: rgb(243 234 234);
    padding: 10px;
    border-radius: 10px;
}

.box img{
    width: 329px;
    height: 476px;
}

.box-detail h3{
font-family: Arial, Helvetica, sans-serif; 
font-size: 25px; 
margin: 5px 0;  
}

.cost-product{
    font-size: 20px;
    margin: 0;
}

.fa-star{
    font-size: 10px;
    color: rgb(233 110 22);
}

.rate-star p, span {
    font-size: 12px;
    font-weight: bold;
    color: gray;
}

.Grid-btn {
    position: relative;
    left: 90%;
    border: none;
    margin-top: 25px;
    padding: 10px 15px;
    background-color: white;
    border-radius: 15px;
}

.Grid-btn a{
    text-decoration: none;
    color: tomato;
}
.Grid-btn i{
    
    color: tomato;
}



/*------------------------------
        Footer Section
---------------------------------*/

footer{background-color:#0A0826;
color: white;}

footer section {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    margin-bottom: 0;
}

.foot-contents{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

footer span{
    color: white;
    font-size: 10px;
}

.social-icons i{margin:0 5px;
color: #564242}


/* ---------------
    media query
----------------- */

/* mobile device */

@media only screen and (max-width:688px)
{
    .container{
    width: 100%;
    }
    .top-headers{
    flex-direction: column;
    }
    .top-headers img{width: 100%;}
    .pack-boxs{
    grid-template-columns: repeat(1, 1fr);
    }
    .foot-contents{
        flex-direction: column;
    }
}



/* Ipad like device */

@media only screen and (min-width:688px) and (max-width:992px)
{
    .container{
    width: 100%;
    }
    .top-headers{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top-headers img{width: 100%;}

    .pack-boxs{
    grid-template-columns: repeat(2, 1fr);
    }
    .foot-contents{
        flex-direction: column;
    }
    
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
/*     
    
    .player, .blog, .course {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container{max-width: 100%;}

    .players, .blogs, .couses{
    grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog, .course {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   
}
        
         */

